@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #141414;
  font-family: 'Poppins', sans-serif;
  color: #f5f5f5;
  height: 100vh;
  margin: 0;
}

.welcome-container {
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.welcome-container a {
  margin: 0 auto;
  border-radius: 70px;
  font-weight: 750;
  padding: 20px 50px;
  border: solid;
  border-width: 2px;
  border-color: #f5f5f5;
}

.welcome-container a:hover {
  background-color: #0073cf;
}

.welcome-container a {
  text-decoration: none;
  color:#f5f5f5
}

.other-container {
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz-container {
  border-radius: 50px;
  width: 600px;
  overflow: hidden;
}

.quiz-header {
  padding: 4rem 4rem 0 4rem;
}

h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}

ul li:hover {
    color: #0073cf;
  }

ul li label {
  cursor: pointer;
}

button {
  background-color: #048fff;
  color: #fff;
  border: none;
  display: block;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
  border-radius: 20px;
  margin: 3rem auto;
}

button:hover {
  background-color: #0073cf;
}

button:focus {
  outline: none;
  background-color: #048fff;
}